.Projects {
    padding: 2vh 20vw;
    min-height: 75vh;
    background: rgb(255, 255, 255); 
}
@media screen and (max-width: 460px) {
    .Projects {
        padding: 5vh;
    }
    .Projects .col-4 {
        width: 100%;
        margin-bottom: 2vh;
    }
}
.Projects-header {
    padding: 0 10vw;
    text-align: center;
    font-size: calc(10px + 1vmin);
}
.Projects .project {
    height: 20vh;
    padding: 0 1vh 1vh;
}
.Projects .project .thumbnail {
    position: relative;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 0.3vh;
    overflow: hidden;
    box-shadow: 0 0 1vh rgba(0, 0, 0, 0.301);
}
.Projects .project .thumbnail:hover .overlay {
    visibility: visible;
    opacity: 1;
}
.Projects .project .thumbnail:hover img.logo {
    height: 70%;
}
.Projects .project .thumbnail .overlay {
    transition: visibility 0s, opacity 0.5s linear;
    -ms-transition: visibility 0s, opacity 0.5s linear;
    -moz-transition: visibility 0s, opacity 0.5s linear;
    -webkit-transition: visibility 0s, opacity 0.5s linear;
    display: flex;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s ease;
    z-index: 999;
    position: absolute;
    right: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.753);
    height: 100%;
    width: 100%;
    color: #ffffff;
    font-size: calc(10px + 1vmin);
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.Projects .project img {
    height: 100%;
    width: 100%;
}
.Projects .Pro-title {
    transition: .5s ease;
    position: absolute;
    z-index: 99;
    bottom: 2vh;
    padding: 0.5vh 1vh;
    font-size: 2vh;
    background: none;
    border: none;
    outline: none;
}
.Projects .btn-cover {
    display: none;
}
.Projects .project .thumbnail:hover .Pro-title {
    bottom: auto;
    z-index: 9999;
    color: #ffffff;
    display: block;
}
.Projects .project img.logo {
    height: 40%;
    width: auto;
    transition: 0.5s linear;
    -webkit-transition: 0.5s linear;
    -ms-transition: 0.5s linear;
    -moz-transition: 0.5s linear;
}