.About {
    padding: 2vh 20vw;
    min-height: 100vh;
    background: rgba(255, 255, 255, 0.685);
    font-size: 2vh;
}
@media screen and (max-width: 460px) {
    .About {
        padding: 5vh;
    }
}
table {
    width: 100%;
}
.Td-title {
    width: 35%;
    position: relative;
}
.Td-title h2 {
    position: absolute;
    top: 4vh;
    left: 1vw;
    font-size: 2vh;
}
table td {
    border-bottom: 1px solid rgb(116, 113, 113);
    border-collapse: collapse;
    text-align: right;
    padding: 2vh;
}
table ul {
    list-style: none;
}
table li {
    display: inline-block;
    margin: 2vh 0 2vh 7.5vh;
}
.About-header {
    padding: 0 10vw;
    text-align: center;
    font-size: 2vh;
}