.App {
  text-align: center;
}
.App-header {
  /*background-color: #282c34;*/
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(9px + 0.8vmin);
}
.App-header .pattern {
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: hidden;
  top: 0;
  left: 0;
}

.App-header .row {
  width: 35vw;
  text-align: left;
}
.App-header .row [class*=col-] {
  height: 40vh;
  background: white;
  overflow: hidden;
  padding: 1vh 2vh;
  position: relative;
}
.mypic img {
  height: 100%;
  margin-left: -35%;
  position: absolute;
  top: 0;
  left: 0;
}
.full-name {
  font-size: calc(10px + 1vmin);
}
.App-section {
  z-index: 9;
  position: relative;
  text-align: left;
}
