body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
nav {
  z-index: 999999999999;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-align: left;
}
.fixedClass {
  position: fixed;
}
nav.fixedClass {
  background: rgba(255, 255, 255, 0.897);
  color: #272b2e;
}
.fixedClass button {
  color: #272b2e;
}
nav button {
  margin: 2vh 2vw;
  border: none;
  background: none;
  font-size: calc(10px + 2vmin);
  color: rgb(228, 220, 213);
  outline: none;
}

footer {
  z-index: 999;
  min-height: 40vh;
  color: white;
  background-color: rgba(0, 0, 0, 0.664);
  position: relative;
  padding: 2vh 20vw;
  font-size: calc(10px + 2vmin);
}